<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{title}}</title>
  <title>Student CRUD Data Table for Database with Modal Form</title>
</head>
{{> common/styles}}
{{> common/scripts}}

<body>
  {{{body}}}
</body>

</html>